h1 {
  opacity: 1;
  position: relative;
}
#main-container {
  /*background-image: url('backdrop.png');*/
  opacity: 0;
  width: 610px;
  height: 600px;
  position: absolute;
}
.row {
  position: relative;
  display: inline-block;
}
.hide {
  opacity: 0;
}

.back-container {
  background-color: blue;
  opacity: .1;
  width: 610px;
  height: 600px;
  position: absolute;
  z-index: -1;

}